.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: transparent;
}

.content::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.content::-webkit-scrollbar-thumb {
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
